Statical tools

T TEST

In [2]:
import pandas as pd 
hyp = pd.read_csv(r'C:\Users\UmarFarooque\Desktop\Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

A TEACHER WANTS TO TEACH STUDENT FOR COMPETATIVE EXAMS SHE COLLECTED SAMPLE OF STUDENTS MARKS FROM DIFFEREANT SCHOOLS AND BASED ON HER PAST EXPERIENCE SHE BELIEVES THAT THESE TYPE OF STUDENT WILL SCORE MORE THAN 60MINUTTES IN THE EXAMNS NOW SHE WANT TO CONDUCT HYPOTHESIS TEST ON MARKS

In [3]:
#ho mu >= 60
#ha mu <60

In [4]:
hyp['Math1'].mean()

52.645

In [5]:
alpha = .05
x_bar = 52.645
mu = 60

1.SAMPLE T TEST

In [6]:
import scipy.stats as st

In [7]:
st.ttest_1samp(hyp.Math1,mu)

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

Pvalue is compared with alpha it is less than alpha value so reject null hypothesis

In [8]:
s,p = st.ttest_1samp(hyp.Math1,mu)

In [9]:
s

-11.102736525713398

In [10]:
p

1.3339158110547646e-22

In [11]:
p/2

6.669579055273823e-23

2 SAMPLE T TEST

In [12]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [13]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [14]:
#how to subset the data on gender
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [16]:
#independent sample
t,p = st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)

In [17]:
p

0.6800544974232143

In [18]:
#paired sample
t,p =st.ttest_rel(hyp.Math1,hyp.Math2)

In [19]:
p

0.17676525605507354

In [ ]:
#failed to reject to null hypothesis ?ho