ANOVA(ANALYSIS OF VARIENCE)

In [2]:
import pandas as pd 
marks = {'A':[82,83,97],'B':[83,78,68],'C':[38,59,55]}
df = pd.DataFrame(marks,index=['St1 Maths','St2 Maths','St2 Maths'])

In [3]:
df

            A   B   C
St1 Maths  82  83  38
St2 Maths  83  78  59
St2 Maths  97  68  55

In [4]:
#step1 calculate the means of each school
#step2 calculate the grand mean
#step3 variation beween and within
#step4 calculate the mean squarred varience of between and within 
#step5 calculate F statistics and corresponding P value

In [5]:
#the math1 is continuous variable 
#program is categorical variable

In [6]:
import pandas as pd
hyp = pd.read_csv(r'C:\Users\UmarFarooque\Desktop\Hypothesis ttest.csv')

In [7]:
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [8]:
import statsmodels.formula.api as sm
mod = sm.ols('Math1~Prog',data = hyp).fit()
mod

In [9]:
import statsmodels.api as k
aov_table = k.stats.anova_lm(mod)
aov_table

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    393.527279  393.527279  4.564033  0.033878
Residual  198.0  17072.267721   86.223574       NaN       NaN